<div class="header">
    <!-- <a href="../../../../assets/images/logo.jpg" class="../../../../assets/images/logo.jpg">CompanyLogo</a> -->
    <img src="../../../../assets/images/logo.jpg" width="4%" height="0%" alt="logo" />
    <div class="header-right">
        <a href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#about">About</a>
        <a href="#about">About</a>
        <a class="active" href="#about"> Login</a>
        <img src="../../../../assets/images/img_avatar.png" alt="Avatar">

    </div>