<div class="footer">
    <ul class="foot__style">
        <li class="">Abot</li>
        <li class="">Help</li>
        <li class="">More</li>
        <li class="">HBkj</li>
        <li class="">jbijk</li>
    </ul>
</div>

<div class="container">
    <div class="card bg-success text-white">
        <div class="card-body">
            <ul class="foot__style">
                <li class="">Abot Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere eum, ex iste est expedita tenetur iusto! Magni, ab deserunt. Tenetur qui voluptatem rerum quod at non aperiam eum corrupti sunt?</li>
                <li class="">Help</li>
                <li class="">More</li>
                <li class="">HBkj</li>
                <li class="">jbijk</li>
            </ul>
        </div>
    </div>
</div>