<div class="container-fluid" id="footer">
    <div class="row md">

        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>Courses</h6>

                </li>
                <li>
                    <a href="">Class 9 and 10</a>
                </li>
                <li>
                    <a href=""> Classs 11 and 12</a>
                </li>
                <li>
                    <a href="">NEET and Medical</a>
                </li>
                <li>
                    <a href="">IIT JEE Mains and Advance Mathematics</a>
                </li>
            </ul>
        </div>
        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>About</h6>
                </li>
                <li>
                    <a href="">Our Vision</a>
                </li>
                <li>
                    <a href="">Student Success Stories</a>
                </li>
                <li>
                    <a href="">What our student says</a>
                </li>
                <li>
                    <a href="">From Director Desk</a>
                </li>
                <li>
                    <a href="">Our Faculties</a>
                </li>
            </ul>
        </div>
        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>Help</h6>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">How to enroll ?</a>
                </li>
                <li>
                    <a href="">Fees Structure</a>
                </li>
                <li>
                    <a href="">Scholarhip</a>
                </li>
            </ul>
        </div>
        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>Social</h6>
                </li>
                <li>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook p-1"></i>Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram p-1" ></i>Instagram</a>
                </li>
                <li>
                    <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp p-1"></i>Whatsapp</a>
                </li>
            </ul>
        </div>
        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>Contact</h6>

                </li>
                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>
                <li>
                    <a href="https://mail.google.com/">Mail Us</a>
                </li>
                <li>
                    <p>
                        Visit our office: <br> Ashoknagar, Satpur Nashik, Maharashtra 422012 India
                    </p>
                </li>
            </ul>
        </div>
        <div class="col col-md-2">
            <ul>
                <li>
                    <h6>Directions</h6>
                </li>
                <li>
                    MAP
                </li>
            </ul>
        </div>


    </div>
    <h5 class="text-center mt-0 pb-1">Take Admission&nbsp;&nbsp; Query&nbsp;&nbsp; &copy; Krishna Coaching Classses</h5>
</div>