ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

#footer {
    background-color: rgb(23, 35, 55);
    color: white;
}

.col {
    margin: 1rem 0rem;
}

a {
    color: white;
}

li {
    color: slategrey;
}