<!-- <div class="container p-5">
    <div class="input-group rounded">
        <input type="text" class="form-control" name="" #uname placeholder="Add user" />
        <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
        <button type="button" class="btn btn-primary" (click)="addUser(uname)">AddUser</button>&nbsp; &nbsp;
        <button type="button" class="btn btn-danger" (click)="removeUser()">DeleteUser</button>
    </div>

    <br>
    <table class="table">
        <thead class="bg-primary">
            <tr>
                <th>UserName</th>
                <th>RemoveUser</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>
                    {{user.name}}
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="onRemoveUser(i)">Remove User</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- 
<section class="bg primay p-5">
    <h2 class="text">Our Topper 2022</h2>
    <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.</p>
</section> -->

<div class="container-fluid">
    <div class="p-4">
        <section class="slice py-8 bg-dark bg-cover bg-size--cover" style="background-image: url(./../../../assets/images/image1\ \(3\).jpg )">
            <span class="mask bg-gradient-dark opacity-9"></span>
            <div class="containerd-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
                <div class="col px-0">
                    <div class="row row-grid align-items-center">
                        <div class="col-lg-8 coaching">
                            <h1 class="text-white mb-4">Our Service </h1>
                            <span class="text-white">
                                Success comes to those, who work hard. And stays with those, who don’t rest on the laurels of the past.
                            </span>
                            <!-- <div class="mt-5">
                                <a href="#" class="btn btn-info btn-lg btn-icon">
                                    <span class="btn-inner--icon">
                                        <i data-feather="edit-3"></i>
                                    </span>
                                    <span class="btn-inner--text">Contact us</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="container pt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugit ipsa! Nihil officiis voluptas itaque modi harum maiores error omnis mollitia vitae, distinctio, voluptates deleniti! Ea minima magni voluptatum rem?
        </div>
    </div>
</div>
<hr>
<div class="container">
    <!-- <h1 class="text-center" style="color: blue;">Welcome to Krishan Coaching Classes</h1> -->
    <!-- <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Join Today for bettter perfprmance </h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad libero a quaerat vero laboriosam nesciunt, soluta culpa natus saepe dolores laborum, nulla autem eaque. Praesentium quae laboriosam rem ullam doloremque.</p>
                    <a href="#" class="btn btn-outline-primary">Go To</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <hr class="featurette-divider"> -->

    <div class="row">
        <div class="col-md-8">
            <!-- <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2> -->
            <p>8th, 9th, 10th & XII SCIENCE - ADMISSION NOTICE If you are looking for one of the best coaching center for your ward in SATPUR division for PCMB/ JEE/ NEET Visit today, Krishna science academy Opp. Sainath hospital, Ashok nagar, Saturday nashik
                Or call on 9423927446 OUR FOCUS # March to March 12 month education pattern # Well qualified and experienced teaching faculty # Separate batches for NEET / JEE- MAINS students # Separate staff for board exams and competitive exams
            </p>
            <p> “If You are planning for a year, sow rice; if you are planning for a decade, plant trees; if you are planning for a lifetime, educate your child”
            </p>
            <span> “The function of education is to teach one to think intensively and to think critically. Intelligence
                plus character – is the goal of true education” – Martin Luther King"</span>
        </div>
        <div class="col-md-4 mr-5">
            <!-- <img class="featurette" src="./../../../assets/images/img_avatar.png" width="50%"> -->
            <figure class="figure">
                <img src="./../../../assets/images/image1 (3).jpg" class="figure-img img-fluid rounded" style="height: 20rem;" alt="Krishna ">
                <figcaption class="figure-caption">Visit today for bright tomorrow.</figcaption>
            </figure>

        </div>
    </div>

    <div class="row bright">
        <div class="col-md-7">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae autem deserunt sapiente ea quos reiciendis repudiandae, vitae, nam minima magnam quae aut repellendus quaerat ipsa modi fugit optio a dicta. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Porro nesciunt eveniet laboriosam consequuntur odio quaerat aliquid, magni perferendis accusamus ratione, repellendus sequi labore quia aperiam dolore laudantium illo beatae voluptas!
        </div>
        <div class="col-5">
            <div class="card">
                <iframe width="520" height="250" src="https://www.youtube.com/embed/kTeFy-N8U0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-7">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae autem deserunt sapiente ea quos reiciendis repudiandae, vitae, nam minima magnam quae aut repellendus quaerat ipsa modi fugit optio a dicta. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Porro nesciunt eveniet laboriosam consequuntur odio quaerat aliquid, magni perferendis accusamus ratione, repellendus sequi labore quia aperiam dolore laudantium illo beatae voluptas!
        </div>
    </div>

</div>