<div class="container pt-5">
    <h2 class="text">Our Team</h2>
    <div class="row">
        <div class="col-md-4">
            <p-card class="text-center" header="Avadhesh Yadav" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card class="text-center" header="Ravindra Metkar" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>

        <div class="col-md-4">
            <p-card class="text-center" header="Dr. Subhash Yadav" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card class="text-center" header="Rampravesh Singh" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card class="text-center" header="Ashish Yadav" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card class="text-center" header="Abhishek Yadav" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/img_avatar.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>

    <!-- <div class="row bright">
        <div class="col-md-7">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae autem deserunt sapiente ea quos reiciendis repudiandae, vitae, nam minima magnam quae aut repellendus quaerat ipsa modi fugit optio a dicta. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Porro nesciunt eveniet laboriosam consequuntur odio quaerat aliquid, magni perferendis accusamus ratione, repellendus sequi labore quia aperiam dolore laudantium illo beatae voluptas!
        </div>
        <div class="col-5">
            <div class="card">
                <iframe width="520" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            </div>
        </div>
    </div> -->

</div>