<div class="container p-5">
    <section class="slice py-8 bg-dark bg-cover bg-size--cover" style="background-image: url(./../../../assets/images/about.jpg )">
        <span class="mask bg-gradient-dark opacity-9"></span>
        <div class="containerd-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
            <div class="col px-0">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8 text-center text-lg-left">
                        <h1 class="text-white mb-4">About Krishna</h1>
                        <h2 class="lead text-white opacity-8">
                            Success comes to those, who work hard. And stays with those, who don’t rest on the laurels of the past.
                        </h2>
                        <div class="mt-5">
                            <a href="#" class="btn btn-info btn-lg btn-icon">
                                <span class="btn-inner--icon">
                                    <i data-feather="edit-3"></i>
                                </span>
                                <span class="btn-inner--text">Contact us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="mx-2 text-white">
                    If you are looking for one of the best coaching center for your ward in SATPUR division for PCMB/ JEE/ NEET Visit today, Krishna science academy Opp. Sainath hospital, Ashok nagar, Saturday nashik Or call on 9423927446
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="row mx-2">
        <div class="col-lg-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolore vel porro magni dolorum, quod adipisci nesciunt unde. Reprehenderit accusamus nemo quam! Aperiam dolores itaque suscipit tempore. Facere qui voluptatem corrupti quaerat quis dolore
            in praesentium ab fuga veniam sint rem, eum odit nisi blanditiis unde, sunt consectetur recusandae facilis iusto? Eveniet sequi voluptatem omnis repellat nisi quia doloremque eius quod odit! Cumque autem facilis, perferendis veniam illum sit
            laudantium. Maxime laboriosam eum soluta nulla eligendi at itaque sed quidem.
        </div>
        <!-- <div class="col-lg-6">
            <p-card header="Info" [style]="{'width': '25rem', 'margin-bottom': '5em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./../../../assets/images/image1 (1).jpg">
                </ng-template>
            </p-card>
        </div> -->
    </div>
</div>
<div class="p-2">
    <section class="slice py-8 bg-dark bg-cover bg-size--cover">
        <span class="mask bg-gradient-dark opacity-9"></span>
        <div class="containerd-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
            <div class="col px-0">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8 coaching">
                        <h1 class="text-white mb-4">Krishna coaching classes is the best </h1>
                        <span class="text-white">
                            Success comes to those, who work hard. And stays with those, who don’t rest on the laurels of the past.
                        </span>
                        <!-- <div class="mt-5">
                            <a href="#" class="btn btn-info btn-lg btn-icon">
                                <span class="btn-inner--icon">
                                    <i data-feather="edit-3"></i>
                                </span>
                                <span class="btn-inner--text">Contact us</span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="container pt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugit ipsa! Nihil officiis voluptas itaque modi harum maiores error omnis mollitia vitae, distinctio, voluptates deleniti! Ea minima magni voluptatum rem?
    </div>
</div>